<div class="col-md-4">
    <ul class="list-group">
        <li class="list-group-item">
            <a href="/user" class="btn text-info">پنل کاربری</a>
        </li>
        <li class="list-group-item">
            <a href="/user/edit" class="btn text-info">ویرایش اطلاعات</a>
        </li>
        <li class="list-group-item">
            <a href="/open-order" class="btn text-info">سبد خرید</a>
        </li>
        <li class="list-group-item">
            <a href="/logout" class="btn text-info">خروج</a>
        </li>
    </ul>
</div>
